<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Signin</h3>
      <div class="formGroup">
        <input name="username" autofocus type="text" class="form-control" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input name="password" type="password" class="form-control" placeholder="Password" #userPassword required>
      </div>

      <div class="formGroup">
        <input name="signin" type="button" class="btn btn-primary btn-block" value="Sign in"
          (click)="ngAuthService.SignIn(userName.value, userPassword.value)">
      </div>




  </div>
</div>