<table>
  <thead>
    <tr>
      <th>StartNr.</th>
      <th>Vorname</th>
	  <th>Name</th>
      <th>Sprint</th>
	  <th>Weit</th>
	  <th>Hoch</th>
	  <th>Wertung4</th>
	  <th>Wurf/Stoss</th>
	  <th>1000er</th>
    </tr>
  </thead>
  <tbody>
<tr *ngFor="let Teiln of Teilnehmer" (click)="editTeiln(Teiln)">
  <td>{{ Teiln.StartNr }}</td>
   <td>{{ Teiln.Vorname }}</td>
   <td>{{ Teiln.Name }}</td>
   <td>{{ Teiln.Wertung1 }}</td>
   <td>{{ Teiln.Wertung2 }}</td>
   <td>{{ Teiln.Wertung3 }}</td>
   <td>{{ Teiln.Wertung4 }}</td>
   <td>{{ Teiln.Wertung5 }}</td>
   <td>{{ Teiln.Wertung6 }}</td>
   <td [hidden]="!Teiln.completed" 
     >
    <i class="material-icons">check</i>
</td>
</tr>
</tbody>
</table>